# Asaas
ASAAS_API_KEY=$aact_prod_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OjNiOWE3ZDFkLTEyYzctNDEwZS04Y2UzLTVmODI3MjIyMWFjNDo6JGFhY2hfMjhiZDg1YTktZGEyZS00Y2I2LTk5NTAtNTY2M2UxMmE5OWVh
ASAAS_BASE_URL=https://www.asaas.com/api/v3

# Efí - API Cobranças
EFI_CLIENT_ID=your_efi_client_id_here
EFI_CLIENT_SECRET=your_efi_client_secret_here
EFI_BASE_URL=https://cobrancas-h.api.efipay.com.br

# Servidor
PORT=3000
NODE_ENV=development
